/* Add CSS Styling */
#nr-2 {
  color: rgb(0, 0, 255);
  font-size: 36px;
}
.pink {
  background-color: rgb(255, 120, 150);
  font-family: verdana, DejaVu Sans, sans-serif;
}
#green {
  background-color: rgb(0, 255, 0);

  font-weight: bold;
}
.cool {
  font-size: 24px;
}
