body {
  font-family: Arial, Helvetica, sans-serif;
}

.para {
  font-size: 22px;
  font-weight: bolder;
}
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div.text.child {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bolder;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: lighter;
}
